:root{
  --background-color: #f3f0e9;
  --black: #000000;
  --white: #ffffff;
  --yellow-heading: #d69e3d;
  --icon: #966f2c;

  
  /* for font family */
  --font-family-heading-nav: "lato", sans-serif;
  --font-family-body-buttons: "Karla", sans-serif;

  /* for mobile font */
  --mobile-main-heading: 2.027rem;
  --mobile-heading: 1.802rem;
  --mobile-sub-heading: 1.424rem;
  --mobile-button: 1.1rem;
  --text: 1rem;
  --span: 1.2rem;

  /* for tablet font */
  --tablet-main-heading: 2.986rem;
  --tablet-heading: 2.488rem;
  --tablet-sub-heading: 1.728rem;

  /* for desktop font */
  --desktop-main-heading: 3.815rem;
  --desktop-heading: 3.052rem;
  --desktop-sub-heading: 1.953rem;
  
}
  html{
    box-sizing: border-box;
    font-size: 16px;
  }
  *,
  *:before,
  *:after{
    box-sizing: inherit;
  }

/*adding max width for each section  */
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

/* styling header section1 */
.header-section1{
    max-width: 100%;
    background-color: var(--black);
    padding: 1.6rem;
    text-align: center;
}

/* styling nav links */
nav li { 
  display: inline-block;
  padding: 1.5rem;
  padding-bottom: 0rem;
} 
nav li a{
  text-decoration: none;
  color: var(--white);
  font-family: var(--font-family-heading-nav);
  font-size: var(--mobile-button);
  font-weight: 900;
}
nav li a:hover{
  color: var(--yellow-heading)
}
.header-section2{
    max-width: 100%;
    background-image: url(../images/hero-background-520_x_520.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 420px;
}
.header-section2-content{
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  min-height: 420px;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 4.8rem;
}
/* styling the hero heading */
h1{
  color: var(--white);
  font-size: var(--mobile-main-heading);
  font-family: var(--font-family-heading-nav);
  font-weight: 900;
  line-height: 2.5rem;
}
/* styling all the paragraphs */
p{
  font-size: var(--text);
  font-family: var(--font-family-body-buttons);
  line-height: 1.3rem;
}

/* styling all the h2 */
h2{
  font-size: var(--mobile-heading);
  font-family: var(--font-family-heading-nav);
  font-weight: 750;
  line-height: 2.1rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
/* styling all the h3 */
h3{
  font-size: var(--mobile-sub-heading);
  font-family: var(--font-family-heading-nav);
  font-weight: 750;
  padding-bottom: 0.7rem;
}
/* styling all the span text*/
.text{
  color: var(--yellow-heading);
  font-family: var(--font-family-body-buttons);
  font-size: var(--span);
  font-weight: 500;
}
.header-section2-content p{
  color: var(--white);
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
/* css validate */

/* styling the main section1 */
.main-section1{
  background-color: var(--background-color);
  padding: 0.7rem;
  padding-top: 5rem;
  max-width: 100%;
}
.img-grid{
  max-width: 100%;
  margin: 0 auto;
  padding-top: 27px;
  display: grid;  
  grid-template-columns: repeat(2, 1fr); 
  grid-template-areas: 
  "latte latte"
  "beans pouring"
  "cups employee";
  grid-gap:1.3rem;
} 
.img-grid img{
  width: 100%;
  height: auto;
}
.img-grid .latte{
  grid-area: latte;
}
.img-grid .beans{
  grid-area: beans; 
}
.img-grid .pouring{
  grid-area: pouring;
}
.img-grid .cups{
  grid-area: cups;
}
.img-grid .employee{
  grid-area: employee;
}
h2{
  color: var(--black);
} 
/* css valid */

.main-section2{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 0.7rem;
  padding-top: 5rem;
  padding-bottom: 4.5rem;
  background-color: var(--background-color);
}
.card{
  max-width: 100%;
  padding: 20px;
  text-align: center;
}
.card-img{
  max-width:40%;
  padding-bottom: 20px;
}
/* css valid */

/* styling the our menu and location section */
.main-section3{
  width: 100%;
  margin: 0 auto;
  background-image: url(../images/coffee-shop-460_x_610.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 610px;
}
.main-section3-content{
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  min-height: 610px;
  padding: 0.7rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.main-section3-content h2{
  color: var(--white);
  padding-bottom: 50px;
}
.location{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.location-menu{
  width: 100%;
  margin: auto;
  display: grid;
  grid-gap: 100px;
}
/* css valid */

.main-section4{
  width: 100%;
  margin: auto;
  padding: 0.7rem;
  padding-top: 6.1rem;
  padding-bottom: 4.5rem;
  background-color: var(--background-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
  "img img"
  "about about";
  grid-gap: 1.3rem;
}
.main-section4 img{
  width: 100%;
  grid-area: img;
}
.main-section4-content{
  width: 100%;
  grid-area: about;
}
.journey{
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}
/* css valid */

.main-section5{
  width: 100%;
  margin: auto;
  padding: 0.7rem;
  padding-top: 6.1rem;
  padding-bottom: 4.5rem;
  background-color: var(--black);
}

.review1, .review2, .review3{
  width: 100%;
  margin: 0 auto;
  min-height: 470px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.review1{
  background-image: url(../images/testimonial-1-480_x_480.jpeg);
  grid-area: review1;
}
.review2{
  background-image: url(../images/testimonial-2-480_x_480.jpeg);
  grid-area: review2;
}
.review3{
  background-image: url(../images/testimonial-3-480_x_480.jpeg);
  grid-area: review3;
}
.review-content1, .review-content2, .review-content3{
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  margin: 0 auto;
  min-height: 470px;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.reviews{
  width: 100%;
  margin: auto;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  "review1 review1 review1"
  "review2 review2 review2"
  "review3 review3 review3"
  ;
  grid-gap: 1.3rem;
}
.main-section5 h2, .main-section5 p{
  color: var(--white);
}
.main-section5 .text{
  color: var(--yellow-heading);
}
/* css valid */

footer{
  width: 100%;
  margin: auto;
  background-color: var(--black);
  text-align: center;
  min-height: 100px;
  padding-top: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
footer p{
  color: var(--white);
}
.line{
  border: 0.1px solid gray;
}
/* css validator */

/* styling all the buttons */
.button{
  font-family: var(--font-family-body-buttons);
  font-size: var(--mobile-button);
  font-weight: 900;
  padding: 0.6rem;
  padding-right: 2rem;
  padding-left: 2rem;
  border: none;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}
.one, .two{
  background-color: var(--white);
}
.three{
  background-color: transparent;
  color: var(--white);
  border: 2px solid var(--white);
}
.four{
  background-color: var(--black);
  color: var(--white);
  border: 2px solid var(--white)
}
/* styling buttons on hover */
.one:hover , .two:hover{
  background-color: var(--icon);
  color: var(--white);
  border: 3px solid var(--white);
}
.three:hover{
  background-color: var(--white);
  color: var(--black);
}
.four:hover{
  background-color: var(--icon);
}
/* styling all links when they are in focus */
a:focus{
  outline: 2px solid var(--yellow-heading);
  outline-offset: 5px;
  border-radius: 20px ;
}
/* styling the skip-links */
.skip-links a{
  text-decoration: none;
  background-color: var(--black);
  color: white;
  border-radius: 20px;
  border: 2px solid var(--white);
  padding: 0.8rem;
  font-size: var(--mobile-button);
  font-weight: 500;
  font-family: var(--font-family-body-buttons);
  position: absolute;
  top: -3.5rem;
}
.skip-links a:focus{
  top:0;
}

/* styling the back to top link */
footer a{
  text-decoration: none;
  background-color: var(--black);
  color: white;
  border-radius: 20px;
  border: 2px solid var(--white);
  padding: 0.8rem;
  font-size: var(--mobile-button);
  font-weight: 500;
  font-family: var(--font-family-body-buttons);
  position: fixed;
  bottom: 0.8rem;
  right: 0.8rem;
  z-index: 1000; 
  transition: background-color 0.3s;
}
/* back to top on hover */
footer a:hover{
  background-color: var(--icon);
}

/* @media screen and (max-width: 767px) {
    .header-section2{
      background-image: url(../images/hero-background-720_x_1080.jpg);
    }
  }

  @media screen and (min-width: 1100px) {
    .header-section2{
      background-image: url(../images/hero-background-1900_x_1060.jpg);
    }
  }

  @media and (min-width: 768px) {
    .header-section2{
      background-image: url(../images/hero-background-960_x_1440.jpg);
    } 
} */